{% extends "themes/app.twig" %}


{% block title discus.topic %}

{% block content %}
<div class="wrapper">
<section class="section">
	  <div class="container hero">
        <div style="float:left;padding:5px 8px;background:rgba(255,255,255,0.3);border-radius:50%;margin-right:10px;"><a style="color:#fff;" href="/"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
        <strong> {{ discus.topic }} </strong>
	  </div>
      
	  <div class="container-fluid discusi">
      
		<div class="topic-name">
		 
          {{ tags(discus.tags)|raw }}
		</div>
        
		<div class="post-info">
	<img data-name="{{ discus.user.name }}" class="avatar" width=30 height=30>
	  <strong>{{ discus.user.name }} </strong> <small class="text-muted">@{{ discus.user.username }} </small>
		<br/>
		  <small class="text-muted"><span class="glyphicon glyphicon-time"></span> {{ discus.created_at }} {% if auth('user') == discus.user_id %} . <a href="/discuss/{{ discus.slug }}/edit">edit</a> {% endif %} </small>
		</div>
	  
	  
	  <div class="post-body">
		{{ discus.body|markdown }}
		<div class="postattr">
		  <font color="red"> &hearts;</font> like this? 
		</div>
	  </div>
        
	  </div>
	  
	  <div class="comments">
        
  {% if comments.count > 0 %}
        
      {% for comment in comments %}
		
		<div class="comment">
		  <div class="comment-meta">
			<div class="userpost">
			  <img data-name="{{ comment.user.name}}" class="avatar" width=30 height=30>
			  <strong>{{ comment.user.name }} </strong> <small class="text-muted">@{{ comment.user.username }} </small>
			  <br/>
			  <small class="text-muted"><span class="glyphicon glyphicon-time"></span> {{ comment.created_at }} {% if comment.user.id == auth('user') %}. <a href="/comment/{{ comment.id }}/edit">edit</a> {% endif %} </small>
			</div>
		  </div>
		  <div class="comment-body">
			
            {{ comment.body|markdown }}
			<div class="commentattr">
			  <a class="text-primary">quote</a>
			</div>
		  </div>
		  
		  
		</div>
	 
        {% endfor %}
      
  {% endif %}
	  </div>
  
	  <div style="margin-left:10px;">
		<ul class="pagination pagination-sm">
		  <li class="active"><a class="">1</a></li>
		  <li class=""><a class="">2</a></li>
		  <li class=""><a class="">3</a></li>
		</ul></div>
	 
		{% if auth() %}
		 <div class="form-comment">
           
           <form action="/api/comment" method="post">
           <div class="form-group">
             <label>Answer</label>
             
            {% include 'partials/text.twig' %}
             
             <input type="hidden" name="parent" value="{{ discus.id }}">
            
		     <textarea id="subject_textarea" rows=4 name="body" class="form-control"></textarea>
            <small> <span class="help-block">Markdown supported</span></small>
             </div>
		<button type="submit" class="btn btn-primary btn-sm">Post answer</button>
         </form>  
           
	  </div>
  
    {% else %}
  
  <div class="container"><a href="/login" class="btn btn-default btn-block">Login to comment</a></div>
  
    {% endif %}
  <div class="separator" style="margin:75px"></div>
	</section>
  </div>
{% endblock %}

{% block footer %}
  {{ parent() }}

  <script src="/public/assets/js/app.textarea.js"></script>
  <script src="/public/assets/js/initial.min.js"></script>
<script src="/public/assets/js/app.discuss.js"></script>

{% endblock %}